<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>test_yandex_weather.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>52705EDC1BB51F9D00CD8331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52705EF31BB51F9E00CD8331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52705EFE1BB51F9E00CD8331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
